APP_HOST=0.0.0.0
APP_PORT=5232
JWT_SECRET=change-me
PERMANENT_STORAGE=mongodb
PERMANENT_DB=washelpful
json_MONGO_CONN1={"string":"mongodb://localhost:27017","user":"","password":""}
OPENAI_APIKEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
